.restaurant-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

  }
  
  .restaurant-card {
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid var(--cardHover);
  }
  
  mat-card {
    height: 100%;
  }
  
  mat-card img {
    height: 200px;
    object-fit: cover;
  }
  
  .mat-card-title,
  .mat-card-subtitle {
    text-align: center;
  }
  
  .button{
    justify-content: center;
  }

  button[mat-raised-button].back-btn{
    color: white;
    background-color: blue;
   }

   button[mat-button].editmenu-btn{
    background-color: green;
    color: white;
    margin: 5px;
   }

   button[mat-button].deletemenu-btn{
    background-color: red;
    color: white;
   }

   button[mat-raised-button].editres-btn:hover{
    background-color: green;
    color: white;
   }

   button[mat-raised-button].deleteres-btn:hover{
    background-color: red;
    color: white;
   }

   button[mat-raised-button].addmenu-btn:hover{
    background-color: rgb(111, 125, 0);
    color: white
   }

   button[mat-raised-button].stats-btn{
    background-color: rgb(225, 0, 255);
    color: white
   }



