<!DOCTYPE html>
<div class="register-dark">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <h2 >Register</h2>
        <div class="form-group">
            <input class="form-control"
                type="name"
                name="name"
                placeholder="User Name"
                id = "name"
                formControlName = "name"
            >
        </div>
        <div class="form-group">
            <input class="form-control"
                type="email"
                name="email"
                placeholder="Email"
                formControlName = "email"
                id = "email"
            >
        </div>
        <div class="form-group">
            <input class="form-control"
                type="password"
                name="password"
                placeholder="Password"
                id = "password"
                formControlName = "password"
            >
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit" [disabled]="!registrationForm.valid">Sign Up</button>
        </div>
        <p>
            Already have an account? <a href="/login">Log In</a>
        </p>
        <div *ngIf="errorMessage" style="color: red">{{ errorMessage }}</div>
        <div *ngIf="successMessage" style="color: green">{{ successMessage }}</div>
    </form>
</div>
