<!DOCTYPE html>
<mat-toolbar color="primary">
    <span>Payment</span>
</mat-toolbar>

<form [formGroup]="paymentForm" class="payment-form" (ngSubmit)="confirmPayment()">
    <mat-form-field>
        <mat-label>Cardholder Name</mat-label>
        <input matInput formControlName="cardholderName">
        <mat-error *ngIf="paymentForm.get('cardholderName')?.hasError('required')">Cardholder Name is required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Credit Card Number</mat-label>
        <input matInput formControlName="cardNumber" type="text" maxlength="16">
        <mat-error *ngIf="paymentForm.get('cardNumber')?.hasError('required')">Card Number is required</mat-error>
        <mat-error *ngIf="paymentForm.get('cardNumber')?.hasError('pattern')">Invalid Card Number</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>CVV</mat-label>
        <input matInput formControlName="cvv" type="text" maxlength="3">
        <mat-error *ngIf="paymentForm.get('cvv')?.hasError('required')">CVV is required</mat-error>
        <mat-error *ngIf="paymentForm.get('cvv')?.hasError('pattern')">Invalid CVV</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Expiry Date</mat-label>
        <input matInput formControlName="expiryDate" type="text" placeholder="MM/YY">
        <mat-error *ngIf="paymentForm.get('expiryDate')?.hasError('required')">Expiry Date is required</mat-error>
        <mat-error *ngIf="paymentForm.get('expiryDate')?.hasError('pattern')">Invalid Expiry Date</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="paymentForm.invalid">Confirm Pay</button>
    <br>
    <button mat-raised-button color="primary" (click)="goBack()">Go Back</button>
</form>
