.payment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }

  /* button[mat-raised-button].cnf-payment-btn{
    background-color: green;
    color: white;
  } */

  button[mat-raised-button].back-btn{
    background-color: blue;
    color: white;
  }
  