<mat-toolbar color="primary">
    <span>Order Tracking</span>
  </mat-toolbar>
  
  <div class="order-list" *ngFor="let order of orders">
    <p *ngIf="!orders.length"> No Orders Found </p>
    <mat-card class="order-card" *ngIf="order.status !== 'Delivered'">
      <mat-card-header>
        <mat-card-title>Order #{{ order.orderId }}</mat-card-title>
        <mat-card-subtitle>{{ order.date | date: 'short' }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li *ngFor="let item of order.items">
            {{ item.quantity }} x {{ item.name }} - ₹{{ item.price}}
          </li>
        </ul>
        <p>Total: ₹{{ order.totalAmount}}</p>
        <p *ngIf="order.status==='Rejected'">Status: Your order was rejected by the restaurant</p>
        <p *ngIf="order.status==='Accepted'">Status: Restaurant is preparing your food</p>
        <p *ngIf="order.status==='Completed'">Status: Your food is prepared, Waiting for delivery agent</p>
        <p *ngIf="order.status==='Picked'">Status: HURRAY🎉🎉🎉 Your food is on the way !!!</p>
        <p *ngIf="order.status==='Pending'">Status: Pending</p>
      </mat-card-content>
    </mat-card>
  </div>
  
  <mat-card-actions class="btn-align">

      <button mat-raised-button color="primary" (click)="goBack()" class="back-btn">Back</button>
  </mat-card-actions>
  