<!DOCTYPE html>
<mat-toolbar color="primary">
    <span>Sales and Analytics</span>
</mat-toolbar>

<div class="full-page">

<div class="charts-container">
    <div class="chart-wrapper">
        <canvas id="donut-chart"></canvas>
    </div>
    <div class="chart-wrapper">
        <canvas id="bar-chart"></canvas>
    </div>
</div>

<mat-slide-toggle (click)="toggle()">Show Sales Log</mat-slide-toggle>

<div class="sales-analytics" *ngIf="!showLog">
    <mat-card *ngFor="let sale of sales" class="sale-card">
        <mat-card-header>
            <mat-card-title>Item Name: {{sale.itemName }}</mat-card-title>
            <mat-card-subtitle>Date: {{ sale.date | date:'shortDate' }}</mat-card-subtitle>
            <mat-card-subtitle>Time: {{ sale.date | date:'shortTime' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Item ID: {{ sale.itemId }}</p>
            <p>Bought By: {{sale.customerEmail}}</p>
            <p>Quantity Sold: {{ sale.quantity }}</p>
        </mat-card-content>
    </mat-card>
</div>
<mat-card-actions class="button">
    <br>
    <button mat-raised-button color="primary" (click)="goBack()" class="back-btn">Back</button>
</mat-card-actions>


</div>
