.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .menu-items {
    width: 100%;
  }
  
  .menu-items h3 {
    text-align: center;
  }
  
  .menu-items div {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    margin: 10px 0;
  }
  