<mat-toolbar color="primary">
    <span>Restaurant Registration</span>
  </mat-toolbar>
  
  <div class="registration-form">
    <mat-form-field>
      <mat-label>Restaurant Name</mat-label>
      <input matInput [(ngModel)]="restaurant.name" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="restaurant.description" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cuisine</mat-label>
      <input matInput [(ngModel)]="restaurant.cuisine" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Image URL</mat-label>
      <input matInput [(ngModel)]="restaurant.image" required>
    </mat-form-field>
  
    <div class="menu-items">
      <h3>Menu Items</h3>
      <div *ngFor="let item of restaurant.menu; let i = index">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="item.name" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput [(ngModel)]="item.description" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Price</mat-label>
          <input matInput [(ngModel)]="item.price" type="number" required>
        </mat-form-field>
        <button mat-raised-button color="warn" (click)="removeMenuItem(i)">Remove Item</button>
      </div>
      <button mat-raised-button color="primary" (click)="addMenuItem()">Add Menu Item</button>
    </div>
  
    <button mat-raised-button color="primary" (click)="registerRestaurant()">Register Restaurant</button>
  </div>
  