<div *ngIf="menuItems.length">
    <h2>Edit Menu</h2>
    <form (ngSubmit)="saveMenu()">
      <div *ngFor="let item of menuItems; let i = index">
        <div>
          <label for="name">Name:</label>
          <input id="name" [(ngModel)]="item.name" name="name-{{i}}" required>
        </div>
        <div>
          <label for="description">Description:</label>
          <input id="description" [(ngModel)]="item.description" name="description-{{i}}" required>
        </div>
        <div>
          <label for="price">Price:</label>
          <input id="price" [(ngModel)]="item.price" name="price-{{i}}" type="number" required>
        </div>
      </div>
      <button type="submit">Save</button>
    </form>
  </div>
  