<!DOCTYPE html>
<app-navbar (search)="filterMenu($event)"></app-navbar>

<mat-toolbar color="primary">
    <span>{{ restaurant.name }} Menu</span>
</mat-toolbar>

<div class="menu-items">
    <mat-card *ngFor="let item of filteredMenu" class="menu-item-card">
        <div class="img-div" [ngStyle]="{'background-image': 'url('+item.imagePath+')'}"></div>
        <mat-card-header>
            <mat-card-title>{{ item.name }}</mat-card-title>
            <mat-card-subtitle>₹{{item.price}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{ item.description }}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="btn" (click)="addToCart(item)">Add to Cart</button>
        </mat-card-actions>
    </mat-card>
    <h1 *ngIf="!filteredMenu.length">No Matching results</h1>
</div>
