<!DOCTYPE html>
<mat-toolbar color="primary" class="navbar">
    <div class="navbar-content">
        <img src="../../../assets/logo.PNG" alt="Logo" class="logo">
        <div class="spacer"></div>
        <button mat-icon-button class="white-icon" (click)="openProfile()">
            <mat-icon>manage_accounts</mat-icon>
        </button>
        <button mat-icon-button class="white-icon" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>
</mat-toolbar>
